.btn:focus {
  box-shadow: none;
}

.btn-active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(96, 96, 97, 0.25);
}

.card {
  transition: transform 0.2s ease-in;
  z-index: 1000;
}

.card:hover {
  transform: translateY(-15px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
